<h1>Filter by...</h1>
<div class="pt-2">
    <div class="form-group">
        <label for="show-type-selector"><h5>Show type (Movie/TV)</h5></label>
        <select class="form-control" id="show-type-selector">
            <option value="show-selector-movie">Movie</option>
            <option value="show-selector-tv">TV</option>
        </select>

        <label for="rating-selector" class="mt-3"><h5>IMDB Rating (1-10)</h5></label>
        <select class="form-control" id="rating-selector">
            <option value="rating-selector-1">1-2</option>
            <option value="rating-selector-2">3-4</option>
            <option value="rating-selector-3">5-6</option>
            <option value="rating-selector-4">7-8</option>
            <option value="rating-selector-5">9-10</option>
        </select>
    </div>
    <h5>Available on...</h5>
    <div class="form-check">
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Netflix
            </label>
        </div>
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck1">
                Amazon
            </label>
        </div>
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck1">
                Youtube
            </label>
        </div>
    </div>
</div>