<h1>Filter by...</h1>
<div class="pt-2">
    <div class="form-group">
        <h5>Show type (Movie/TV)</h5>
        <form [formGroup]="showTypeForm" class="form-check">
            <div class="col-3">
                <input class="form-check-input" type="checkbox" value="" id="movieCheck" formControlName="movieCheck">
                <label class="form-check-label" for="defaultCheck1">
                    Movie
                </label>
            </div>
            <div class="col-3">
                <input class="form-check-input" type="checkbox" value="" id="tvCheck" formControlName="tvCheck">
                <label class="form-check-label" for="defaultCheck1">
                    Tv
                </label>
            </div>
        </form>

        <label for="rating-selector" class="mt-3"><h5>IMDB Rating (1-10)</h5></label>
        <select class="form-control" id="rating-selector">
            <option value="rating-selector-1">1-2</option>
            <option value="rating-selector-2">3-4</option>
            <option value="rating-selector-3">5-6</option>
            <option value="rating-selector-4">7-8</option>
            <option value="rating-selector-5">9-10</option>
        </select>
    </div>
    <h5>Available on...</h5>
    <div class="form-check">
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Netflix
            </label>
        </div>
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck1">
                Amazon
            </label>
        </div>
        <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck1">
                Youtube
            </label>
        </div>
    </div>

    <button class="btn btn-dark my-3" (click)="toggleAdditionalFilters()">Show/Hide Additional Filters</button>

</div>


<div *ngIf="toggleFilters">

    <div class="column">
        <h3>Genres</h3>
        <button class="btn btn-dark my-3" (click)="toggleGenres()">Show/Hide Genres</button>
        <div *ngIf="toggleGenreSection">
            <form [formGroup]="genreForm" class="form-check">
                <div *ngFor="let genre of genresArray">
                    <label [for]="genre.id">
                        <input type="checkbox" formControlName="{{genre.id}}">
                        {{genre.name}}
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div class="column">
        <h3>Languages</h3>
        <button class="btn btn-dark my-3" (click)="toggleLanguages()">Show/Hide Languages</button>
        <div *ngIf="toggleLanguageSection">
            <form [formGroup]="languageForm" class="form-check">
                <div *ngFor="let language of languagesArray">
                    <label [for]="language">
                        <input type="checkbox" formControlName="{{language}}">
                        {{language}}
                    </label>
                </div>
            </form>
        </div>
    </div>

</div>
